[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "*"
djangorestframework = "*"
django-cors-headers = "*"
asgiref = "==3.5.0"
dj-database-url = "==0.5.0"
psycopg2 = "==2.9.3"
pytz = "==2022.1"
sqlparse = "==0.4.2"
whitenoise = "==6.0.0"

[dev-packages]

[requires]
python_version = "3.9"
